@charset "UTF-8";

body {
	margin:0;
	font-family:Arial;
	background:#EEE;
	}

h1 {
	margin:0;
	color:#FFF;
	
}

h2 {
	color:#319dd7;
	
}

h3 {
	color:#319dd7;
	font-size:1em;
}

p {
	text-align:justify;
	font-size:0.95em;
}

#main {
	
	width:800px;
	margin:0 auto;
	margin-top:20px;
	box-shadow:0 3px 3px rgba(0,0,0,0.2);
	border-radius:10px;
	overflow:hidden;
	
	
	
}

header {
	background:#319dd7;
	padding:20px;
}

#contenido {
	padding:20px;
	min-height:500px;
	background:#FFF;
}

input[type="text"], input[type="password"], select, textarea {
	border:1px solid #000;
	transition:border 200ms;
	box-sizing:border-box;
	width:100%;
	padding:5px;
	font-size:1.05em;
	margin-bottom:10px;
	
}

textarea {
	height:150px;
	font-family:Arial;
}

input:focus, input:hover, textarea:focus, textarea:hover, select:focus, select:hover {
	border:1px solid #319dd7;
}

button {
	background:#666;
	color:#FFF;
	border:0;
	border-radius:5px;
	font-size:0.9em;
	text-transform:uppercase;
	font-weight:bold;
	transition:background 200ms;
	cursor:pointer;
	padding:10px;
}

button:hover {
	background:#319dd7;
}

table {
	width:100%;
	border:1px solid #CCC;
}

td {
	padding-left:10px;
}

.sombreado {
	background:#CCC;
}
#personal{
	background-color:#319dd7;
	width:800px;
	margin:0 auto;
	margin-top:20px;
	border-radius:10px;
	overflow:hidden;
	display:none !important;
}
